@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
.playerTitle {
    display: inline-flex;
    align-items: center;
    margin: 3%;
}

.playerLogo {
    clip-path: circle();
    height: 5rem;
    width: 5rem;
    object-fit: contain;
    background-color: #CBE3FF;
}

.playerName {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 1rem;
    width: 15rem;
    font-weight: 600;
}

.countryIcon {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 2.5%;
}

.boxOfSomethingIdk {
    display: inline-flex;
    align-items: center;
    background-color: #F3F3FA;
    border-radius: 8px;
    padding: 7px 13px;
    margin-left: 1rem;
}

.textOfSomethingIdk {
    opacity: 0.5;
    font-weight: 500;
    font-size: 0.9rem;
}

.playerBasicInfo {
    display: flex;
    font-weight: 500;
    margin-left: 2rem;
    margin-top: 1rem;
}

.firstLine {
    flex: 1;
}

.describingTextBasic {
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
}

.dividedPlayerInfo {
    display: inline-flex;
    margin-right: 5%;
    width: 40%;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
  
.dividerPlayerInfo {
    flex-grow: 1;
    border-bottom: 3px dotted #E9E9F3;
}


.secondLine {
    overflow: hidden;
}