.pitch {
    height: 100%;
}

.formation-comp {
    height: 50vh;
}

.subProgressBar {
    height: 0.55em;
    background-color: #00F287;
    border-radius: 10px;
    animation: progressBarEnterAnimation 1000ms;
    transition-duration: 750ms;
}

@keyframes progressBarEnterAnimation {
    from {
        width: 0;
    }
    to {
        width: var(--w, 100%);
    }
}

.progressBar {
    width: 20.5vw;
    height: 0.55em;
    background-color: #F7F7F8;
    border-radius: 10px;
}

.progressBarTitle {
    font-family: 'Lexend';
    display: inline;
    font-weight: 400;
}

.teamWork {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 4em;
}

.percentsOfProgressBar {
    display: inline;
    float:right;
    font-weight: 400;
}

.pitchImg {
    margin-bottom: 1em;
}


.selectionsDiv {
    font-family: 'Lexend';
    margin: 0 auto;
    margin-bottom: 3em;
    width: fit-content;
}

.optionClass {
    font-family: 'Lexend';
    background-color: white;
    width: 37.5em;
    height: 3.4em;
    padding-left: 2rem;
    text-align: left;
    border-radius: 8px;
    border: 1px solid #E9E9F3;
}
.selectionClass {
    font-family: 'Lexend';
    width: 20.5vw;
    height: 3em;
    border: 1px solid #E9E9F3;
    border-radius: 10px;
    padding-top: 0.5rem;
    margin-bottom: 2em;
    font-size: 1.2rem;
}