.attributes {
    margin-left: 8%;
    font-size: 1.15rem;
    margin-bottom: 5%;
}

.divided {
    display: flex;
    margin-right: 5%;
}
  
.divider {
    flex-grow: 1;
    border-bottom: 1px dashed #E9E9F3;
}