@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

.mainPlayersComponent {
    background-color: #FBFBFF;
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 19%;
    height: 100%;
    overflow: auto;
    border-right: 2px solid #EEEEF8;
}

.playersNavTitle {
    font-size: 2rem;
    margin-bottom: 10%;
}

.playersTitle {
    margin: 10%;
}

.searchPlayersNav {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0b/Search_Icon.svg');
    background-size: 1.45rem;
    background-position-x: 1rem;
    background-position-y: center;
    background-repeat: no-repeat;
    padding: 1em;
    padding-left: 3rem;
    width: 85%;
    height: 80%;
    border-radius: 8px;
    border: 1px solid #E9E9F3;
    box-sizing: border-box;
}

.mainDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}