@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Nav {
    background-color: #110E43;
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 8.5rem;
    height: 100%;
    overflow: auto;
}

.navbarButton {
    cursor: pointer;
    display: block;
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: none;
    color: #fff;
    width: 100%
}

.marginButtons {
    margin: 10px 10px;
    font-family: 'Lexend';
}

.activeNavbarBtn {
    background-color: #4940D7;
}

.navbarItemTxt {
    display: inline-block;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.userIcon {
    background-color: #00F287;
    width: 2em;
    height: 2em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 600;
    font-size: 30px;
    color: white;
    cursor: pointer;
}