@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

.mainPlayerInfoComponent {
    width: 60rem;
    height: 22rem;
    background: #FFFFFF;
    border: 2px solid #EEEEF8;
    box-sizing: border-box;
    border-radius: 16px;
    align-items: center;
}

.playerTitle {
    display: inline-flex;
    align-items: center;
    margin: 3%;
}

.playerLogo {
    border-radius: 50%;
    height: 5rem;
}

.playerName {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.countryIcon {
    /* border-radius: 50%; */
    height: 2rem;
    width: 2rem;
    margin-left: 2.5%;
}

.countryIconGerman {
    /* border-radius: 50%; */
    height: 2rem;
    width: 2rem;
    margin-left: 2.5rem;
}

.countryIconEurope {
    /* border-radius: 50%; */
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
}

.boxOfSomethingIdk {
    display: inline-flex;
    align-items: center;
    background-color: #F3F3FA;
    border-radius: 8px;
    padding: 7px 13px;
    margin-left: 1rem;
}

.textOfSomethingIdk {
    opacity: 0.5;
    font-weight: 500;
    font-size: 0.9rem;
}

.playerBasicInfo {
    display: flex;
    font-weight: 500;
    margin-left: 2rem;
    margin-top: 1rem;
}

.firstLine {
    flex: 1;
}

.secondLine {
    flex: 1;
}

.describingTextBasic {
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
}






.middleShapeHeight {
    display: inline-block;
    border: 1px dashed #E9E9F3;
    width: 50%;
    margin-left: 2%;
}

.heightResult {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: normal;
    margin-left: 1%;
}




.middleShapeFoot {
    display: inline-block;
    border: 1px dashed #E9E9F3;
    width: 30%;
    margin-left: 2%;
}

.footResult {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: normal;
    margin-left: 1%;
}




.middleShapeDate {
    display: inline-block;
    border: 1px dashed #E9E9F3;
    width: 22%;
    margin-left: 2%;
}

.dateResult {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: normal;
    margin-left: 1%;
}






.middleShapePlace {
    display: inline-block;
    border: 1px dashed #E9E9F3;
    width: 10%;
    margin-left: 2%;
}

.placeResult {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: normal;
    margin-left: 1%;
}




.middleShapePositions {
    display: inline-block;
    border: 1px dashed #E9E9F3;
    width: 30.5%;
    margin-left: 2%;
}

.positionsResult {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: normal;
    margin-left: 1%;
}