.outSideTheNavDash {
    margin-left: 8.5rem;
}
.playerComponents {
    margin-left: 25%;
}

.subComponent {
    width: 60rem;
    min-height: 22rem;
    max-height: 25em;
    height: fit-content;
    background: #FFFFFF;
    border: 2px solid #EEEEF8;
    box-sizing: border-box;
    border-radius: 16px;
    align-items: center;
    overflow: scroll;
}

.small {
    width: 30rem !important;
}

.large {
    width: 60rem !important;
}