.outSideTheNavDash {
    margin-left: 8.5rem;
}
.playerComponents {
    margin-left: 25%;
}

.subComponent {
    width: 60rem;
    height: 22rem;
    background: #FFFFFF;
    border: 2px solid #EEEEF8;
    box-sizing: border-box;
    border-radius: 16px;
    align-items: center;
}