.outSideTheNavDash {
    margin-left: 8.5rem;
}
.playerComponents {
    margin-left: 25%;
    margin-right: 10em;
}

.subComponent {
    height: 35vh !important;
    background: #FFFFFF;
    border: 2px solid #EEEEF8;
    box-sizing: border-box;
    border-radius: 16px;
    align-items: center;
    overflow: auto;
    padding-bottom: 1rem;
}

.titleText {
    margin: 1.5em;
    font-size: 1.8rem;
}