.playerWeaknesses {
    width: 40rem;
    background: #FFFFFF;
    border: 2px solid #EEEEF8;
    box-sizing: border-box;
    border-radius: 16px;
    align-items: center;
    overflow: auto;
}

.weaknessesTitleText {
    margin: 5%;
    font-size: 1.8rem;
}

.weaknesses {
    margin-left: 5%;
    font-size: 1.15rem;
    margin-bottom: 5%;
}

.weaknessesName {
    display: inline;
}

.middleShapeWeaknesse {
    display: inline;
    border: 1px dashed #E9E9F3 !important;
    width: auto;
    overflow: hidden;
    margin-left: 2%;
    position: relative;
}

.weaknessResult {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: normal;
    margin-left: 1%;
    float: right;
    margin-right: 5%;
}